<h1 id="About"><span data-i18n="skills.my_skills">About Me</span></h1>

<div>
    Hello, I am Shengan Zhang, a senior student majoring in 
    <b>Computer Science Engineering</b> at the <i>University of Michigan</i> and I'm
    also pursuing a minor in <b>Mathematics</b>.
    Besides, I'm an <b>Electrical and Computer Engineering</b>
    senior at the <i>University of Michigan - Shanghai Jiao Tong University Joint Institute (UM - SJTU JI)</i> in China.<br />
    More details can be found in my <a href="https://syiming.github.io/Yiming_Shi_resume.pdf">Resume</a>.

</div>
