<br>
<h1 id="Experience"><span data-i18n="skills.my_skills">Teaching & Services</span></h1>

<div class="archive">
  <div class="timeline" id="timeline">

    <div class="archive-title">
      <h5 class="archive-year bio">Teaching Assistant, VG100 Intro to Engineering<img src="/img/ji.png" width="65" height="47" align="right"></h5>
    </div>

    <ul>
      <h5>@ UM - SJTU JI, Shanghai, China  </h5>
      <li>Cooperated with other teaching assistants to grade assignments and provided feedback to students.</li>
      <li>Held office hours to help students perform better and learn more efficiently.</li>
      <li>Collected students' ideas and provided them for the instructors to further improve this course.</li>
    </ul>

    <div class="archive-title">
      <h5 class="archive-year bio">Vice President<img src="/img/jisu.jpg" width="60" height="60" align="right">   </h5>
    </div>

    <ul>
      <h5>@ UM - SJTU JI Student Union, Shanghai, China </h5>
      <li>Took the overall responsibility of JISU and lead all the departments to hold events such as
        sports competitions, town hall meeting and career orientation to improve JI and JI students’ life.</li>
      <li>Fostered the communication between the leadership and students of the institute.</li>
    </ul>
  
    <div class="archive-title">
      <h5 class="archive-year bio">Core Member<img src="/img/saa.jpg" width="60" height="60" align="right"></h5>
    </div>

    <ul>
      <h5>@ SJTU Student & Alumni Association at UM, Ann Arbor, USA  </h5>
      <li>Worked with both universities as well as industry partners to provide professional development resources, culture immersion programs, and networking opportunities.</li>
      <li>Helped build a community by holding various activities to strengthen bonds of its members.</li>
    </ul>
  </div>
</div>
