<br> </br>
<h1 id="Honors"><span data-i18n="skills.my_skills">Honors & Awards</span></h1>

<b>UM CoE Dean’s List, University Honors</b> <span style="float:right;"> Jan. 2020</span>
The Dean’s Honor List recognizes UM students that have 3.5 GPA or better for the term.<br> </br>

<b>Tang Junyuan UM – SJTU JI Scholarship</b> <span style="float:right;"> Aug. 2019</span>
The scholarship of the highest level in UM – SJTU JI (Top 1% in UM – SJTU JI).<br> </br>

<b>China National Scholarship</b> <span style="float:right;"> Nov. 2018</span>
The scholarship of the highest level in China (Top 0.2% in China).<br> </br>

<b>UM – SJTU JI Academic Writing Contest, 2nd Prize</b> <span style="float:right;"> Nov. 2018</span>
The award to recognize my essay <a href="http://bluetiger.sjtu.edu.cn/ji-writes/zhuangzi/">"<i>Would Zhuangzi Agree with Himself?</i>"</a> (Top 1% in UM – SJTU JI).<br> </br>

<b>A-level Excellent Undergraduate Scholarship</b> <span style="float:right;"> Nov. 2018</span>
This is to award SJTU students for excellent academic performances (Top 1% in UM – SJTU JI).<br> </br>

<b>Shanghai Jiao Tong University Outstanding Student</b> <span style="float:right;"> Oct. 2018</span>
This scholarship recognizes students of outstanding overall performance.<br> </br>

