<br> </br>
<h1 id="Projects"><span data-i18n="skills.my_skills">Research Projects</span></h1>

<div class="archive">
    <div class="timeline" id="timeline">
        <div class="archive-title">
            <h5 class="archive-year bio">Data Elements from Video using Impartial Algorithm Tools for Extraction<i><span style="float:right;">May 2020 – Present</span></i></h5>
        </div>

        <ul>
            <i>Supervised by Dr. Carol Flannagan, @ Ann Arbor, Michigan, United States</i>
            <li>Develop and test the position of hand primitive detection algorithms that will be used as a basis for the second layer of cell phone usage detection algorithm</li>
            <li>Reduce misdetection of hand position by implementing a background-removal algorithm based on Optical Flow</li>
            <li>Test the generalizability of retrained Kinetics-I3D model on SHRP2 dataset and do the relabeling of the cabin view data of IVBSS dataset to test the model’s performances</li>
            <li>Implement a User Interface for the labeling software with Qt5</li>
        </ul>

        <div class="archive-title">
            <h5 class="archive-year bio">Analyzer of Leg Movement Based on Wireless Transmission<i><span style="float:right;">Jun 2018 – Nov 2019</span></i></h5>
        </div>

        <ul>
            <i>Supervised by Dr. Guohua Shu, @ Shanghai, China</i>
            <li>Co-developed algorithms to visualize leg movement based on MPU 6050 acceleration sensors and STM 32 board</li>
            <li>Responsible for eliminating noise of data and designing algorithm to simulate the trajectory of leg in MATLAB</li>>
        </ul>

    </div>
</div>